@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    font-family: 'Kanit';
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.background-page {
    background-image: linear-gradient(to bottom right, rgba(194, 237, 239), rgba(238, 249, 250));
    height: 100%;
}

.background-onboard {
    background-image: linear-gradient(to bottom right, rgba(131, 210, 215), rgba(237, 253, 245));
    height: 100vh;
}

.top-nav {
    background-image: linear-gradient(to bottom left, rgba(135, 211, 215), rgba(194, 238, 239));
    justify-content: space-between;
    align-items: center;
}

.top-nav a, .header, .sub-header {
    color: rgba(2, 67, 67);
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links a {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 21px;
    transition: color 0.3s, background-color 0.3s, padding-bottom 0.3s;
}

.nav-links a:hover, .nav-links a.active:not(:hover) {
    color: rgba(17, 124, 131);
    background-color: rgba(213, 242, 244);
    padding-bottom: 38px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -20px;
    height: 100%;
}

.title-bar {
    padding: 5px;
}

.header {
    padding: 25px;
}

.sub-header {
    text-align: center;
}

.button-links .btn {
    background-color: rgba(29, 118, 123);
    color: rgba(231, 242, 253);
    padding: 15px 20px;
}

.button-links a:hover {
    color: rgba(17, 124, 131);
    background-color: rgba(213, 242, 244);
}

#apply-search {
    background-color: rgba(29, 118, 123);
    color: rgba(231, 242, 253);
}

.page-title {
    color: #024343;
    text-align: center;
    padding: 40px 0px;
}

.search-bar {
    margin-left: 100px;
}

.search-title {
    font-size: 25px;
}


/* CardList */
.card-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 75px 60px;
}

.single-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 452.89px;
    border-radius: 10px;
    background-color: #66AEB2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    transition: top ease 0.5s, background-color ease 0.5s;
}

.single-card-box:hover {
    top: -10px;
    background-color: #74C7CC;
}

.card-link {
    color: #ECF9F9 !important;
}

.card-title {
    width: 450px;
    height: 41px;
    left: 211px;
    top: 371px;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.card-city {
    width: 450px;
    height: 41px;
    font-size: 30px;
}

.card-zipcode {
    width: 450px;
    height: 41px;
    font-size: 30px;
}

.card-basin-name {
    width: 450px;
    height: 41px;
    font-size: 30px;
}

.card-image-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-image {
    width: 170px;
    height: 150px;
    border-radius: 5px;
}

/* Onboarding.js */
.background-onboarding {
    position: relative;
    height: 100%;
}

.background-onboarding::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(40, 144, 149), rgba(134, 215, 220));
    z-index: -2;
}

.background-onboarding::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: linear-gradient(to bottom right, rgba(131, 210, 215), rgba(237, 253, 245));
    z-index: -1;
}

.onboarding-screen {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.onboarding-header {
    flex-direction: column;
    position: relative;
    margin-top: 75px;
}

.onboarding-the-header {
    color: #024343;
    margin-left: 255px;
    width: 107px;
    height: 68px;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
}

.onboarding-aquapod-header {
    color: #024343;
    margin-left: 125px;
    width: 370px;
    height: 137px;
    font-weight: 400;
    font-size: 90px;
    line-height: 70px;
}

.onboarding-about {
    text-align: left;
}

.onboarding-intro {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px
}

.mission-statement {
    color: #024343;
    margin-left: 125px;
    max-width: 600px; 
    font-size: 18px;
    overflow: auto;
    overflow-wrap: anywhere;
    font-size: 22px;
}

.un-video {
    margin: 0px 100px;
    flex-grow: 1;
    max-width: 600px;
}

@media (min-width: 768px) {
    .un-video {
        margin-left: 100px;
    }
}

@media (min-width: 1500px) {
    .mission-statement {
        max-width: 700px;
    }

    .un-video {
        margin-left: 150px;
        height: 290px;
    }
}


.un-video iframe {
    width: 100%;
    height: 100%;
}

.button-link-header-onboarding {
    color: #024343;
    margin-top: 40px;
    text-align: left;
    margin-left: 125px;
}

.button-links-onboarding {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 120px;
}

#aquanaut-links .btn {
    flex: 1;
    background-color: rgba(29, 118, 123);
    color: rgba(231, 242, 253);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    font-size: 20px; 
    padding: 15px 30px;
    white-space: nowrap;
    min-width: 250px;
}

#aquanaut-links a:hover {
    color: rgba(17, 124, 131);
    background-color: rgba(213, 242, 244);
}

.features-onboarding {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.features-box-onboarding {
    position: relative;
    width: 1174px;
    height: 655px;
    background: #F0FBFB;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.features-text-onboarding {
    color: #024343;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.title-desc {
    font-size: 22px;
    color: #1D767B;
}

.features-images, .features-feature-titles, .features-feature-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-icon, .donation-icon, .education-icon {
    padding-left: 125px;
    padding-right: 125px;
}

.resource-title, .donation-title, .education-title {
    color: #024343;
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 20px;
}

.features-feature-desc {
    justify-content: space-evenly;
}

.resource-desc, .donation-desc, .education-desc {
    color: #1D767B;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    width: 250px;
}

.resource-desc {
    margin-left: 10px;
}

.education-desc {
    margin-right: 5px;
}



/* card details page */
.details-page {
    background-image: linear-gradient(to bottom right, rgba(194, 237, 239), rgba(238, 249, 250));
    height: 100%;
    min-height: 100%;
}

.details-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.location-back-button {
    display: flex;
    text-align: center;
    margin-left: 66px;
    margin-top: 40px;
}

.back-button {
    width: 68px;
    height: 35px;
    background-color: #66AEB2;
    border-radius: 10px;
}

.navlink-back {
    color: #ECF9F9;
    text-decoration: none;
}

.name-of-location {
    display: flex;
    height: 52px;
    margin-left: 135px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #024343;
}

.details-info {
    display: flex;
    flex-wrap: wrap;
}

.details-image-box {
    align-items: center;
    justify-content: space-between;
    width: 407px;
    height: 377px;
    margin-left: 134px;
    margin-top: 15px;
    overflow: auto;
    overflow-wrap: anywhere;
}

.details-image {
    width: 391px;
    height: 359px;
    z-index: 1;
    border-radius: 10px;
}

.details-text {
    flex-direction: column;
    color: #024343;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 30px;
}

.bolded { 
    font-weight: bold; 
    color: black;
}

/* need to implement back */
.details-image-backbox {
    position: relative;
    width: 381px;
    height: 353px;
    left: 118px;
    top: 80px;
    z-index: 0;
    background-color: #66AEB2;
    border-radius: 10px;
}

.details-image-img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.google-maps-button {
    margin-left: 184px;
    margin-top: 20px;
    
}

#details-button {
    width: 291px;
    height: 52px;
    color: #ECF9F9;
    background-color: #1D767B;
    border-radius: 10px;
    font-size: 20px;
}

.redirect-text {
    padding-top: 10px;
    color: #024343;
    padding-left: 11px;
}


.fav-location-button {
    position: relative;
    width: 291px;
    height: 52px;
    left: 184px;
    top: 100px;
    color: #ECF9F9;
    background-color: #1D767B;
    border-radius: 10px;
}





/*
Education page flip cards and stylings
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 150ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }

  .card-front {
    transform: rotateY(0deg);
  }

  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }

  .card-front, .card-back{
    background-color: #024343;
  }

  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }

  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

  .ed-intro-text, .ed-intro-heading{
    text-align: center;
    color: #024343;
    font-weight: 400;
    font-size: 25px;
    line-height: 90px;
    text-align: center
  }